.btn-orange {
	color: rgb(230, 230, 230);
	transition: background-color 0.5s ease;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 30px;
	font-weight: normal;
	background-color: #ffa500;
	color: white;
	margin: 50px;
}

.btn-orange:hover {
	font-weight: bolder;
	background-color: white;
	color: #ffa500;
}










